
Makefile
.deps
.libs
*.in
*.m4
*.cache
*.o
*.lo
*.la
*~
*.log
*.sw[op]
*.pdf
*.obj
*.lib
*.so
*.so.*

configure
config.*
libtool
stamp*
build-aux
doc/latex
.autotools
.cproject
.project
.settings

.vs/

env
install

log.html
output.xml
report.html
