#######################
# Flag Configurations #
#######################
#MAKE_SHARED_LIBS = FALSE
#MAKE_TESTS = TRUE
#MAKE_LIBRARY_ONLY = FALSE

###########################
# Directory Configuration #
###########################
#build directory to build objects into. If blank will build in directories
BUILD_DIR=
#install prefix. where to install on make install, if relative it will be relative to topdir
INSTALL_DIR = $(PWD)
#INSTALL_DIR = /usr/local

#Binary install directory were to install 
BIN_DIR = $(INSTALL_DIR)/bin

#Library install directory
LIB_DIR = $(INSTALL_DIR)/lib

#Where to install header files
INCLUDE_DIR = $(INSTALL_DIR)/include
